.mainBox {
  display: flex;
  flex-direction: row;
  margin-top: 70px;
  width: 80%;
  margin-left: 100px;
}

.left {
  background-image: url("../assest/background-removebg-preview.png");

  background-size: 550px;
  background-repeat: no-repeat;
  width: 50%;
  background-position-y: 30px;
}
.img2 {
  margin-top: 20px;
  margin-left: 100px;
}
.right {
  height: 600px;
  width: 50%;
}
.img3 {
  display: block;
  margin: auto;
  margin-top: 30px;
}
.img4 {
  display: block;
  margin: auto;
  margin-top: 50px;
}
.form {
  margin-left: 50px;
  margin-top: 30px;
}
input[type="email"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
input[type="tel"] {
  width: 249% !important;

  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
input[type="submit"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-size: 18px;
}
#emailId {
  color: red;
  font-size: 14px;
}
#mobileId {
  color: red;
  font-size: 14px;
}
::placeholder {
  color: black;
  font-size: 14px;
}

@media only screen and (min-width: 425px) and (max-width: 768px) {
  .mainBox {
    display: flex !important;
    flex-direction: column !important;
    width: 100%;
  }
  .left {
    background-image: url("../assest/background-removebg-preview.png");
    background-size: 450px;
    display: block;
    margin: auto;
    background-position-x: 30px;
    width: 100%;
  }
  .img2 {
    width: 40%;
    margin-top: 20px;
    display: block;
    margin: auto;
    margin-left: 150px;
  }
  .right {
    width: 80%;
  }
  .img3 {
    display: block;
    margin: auto;
    margin-top: 30px;
  }
  .img4 {
    display: block;
    margin: auto;
    margin-top: 50px;
    margin-left: 70px;
  }
  input[type="email"] {
    width: 82%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  input[type="tel"] {
    width: 200% !important;

    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  input[type="submit"] {
    width: 82%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-size: 18px;
  }
}

@media only screen and (min-width: 0px) and (max-width: 624px) {
  .mainBox {
    display: flex !important;
    flex-direction: column !important;
    width: 100%;
    margin: 0px;
  }
  .left {
    background-image: url("../assest/background-removebg-preview.png");
    background-size: 330px;
    background-position-x: 15px;
    z-index: 1;
    display: block;
    margin: auto;

    width: 100%;
  }
  .img2 {
    /* width: 60%; */
    width: 64%;
    margin-top: 20px;
    display: block;
    margin: auto;
    margin-left: 75px;
  }
  .right {
    width: 80%;
  }
  .img3 {
    display: block;
    margin: auto;
    margin-top: 30px;
    width: 100%;
    margin-left: 40px;
  }
  .img4 {
    display: block;
    margin: auto;
    margin-top: 50px;
    width: 100%;
    margin-left: 40px;
  }
  input[type="tel"] {
    width: 117% !important;

    padding: 12px 20px;
    margin: 8px 0px;
    box-sizing: border-box;
  }
}
